---
layout: mvp
permalink: "/"
---

{% assign week24 = site.data.dates | where: "week","24" %}
{% assign week25 = site.data.dates | where: "week","25" %}
{% assign week26 = site.data.dates | where: "week","26" %}
{% assign week27 = site.data.dates | where: "week","27" %}

<h1>Content Depot</h1>
<p class="subhead">A list of upcoming holidays, topics, and prompts to help inspire your social posts.</p>

<ul class="top_tabs">
  <li><a class="top_tabs--active" href="/">Calendar</a></li>
  <li><a class="" href="/posts">Post Gallery</a></li>
  <li><a class="" href="/verticals">Verticals</a></li>
</ul>

<div class="feed-wrapper clearfix">
  <div class="feed-controls">
    <div class="tile tile-calendar" data-current-month="May">
      <span class="calendar-next"></span>
      <span class="calendar-prev"></span>
      <span class="calendar-today" style="background-image: url(/assets/images/cal-today/cal-may19.png);"></span>
      <img class="calendar-image" width="100%" src="/assets/images/cal-may.png" />
    </div>
    <!-- <h4 class="tile-scheduled-posts--heading">My Scheduled Posts:</h4>
    <div class="tile tile-scheduled-posts" style="height: 200px;"></div> -->
  </div>



  <div class="feed-main">

    <article>
      <div class="secondary date_range">
        <div class="date-ribbon">
          <h3>Next Week</h3>
          <h4>Jun 20–26</h4>
        </div>
      </div>
      <div class="primary tile-wrapper">

        <div class="tile-minivan tile-minivan--with-carousel">
          <h3 class="tile-minivan--heading">Trending Topics</h3>
          <p class="tile--description">One line of text giving text as to what these are.</p>
          <div class="tile--carousel-controls">
            <span class="tile--carousel-prev"></span><span class="tile--carousel-next"></span>
          </div>
          <div class="tile--carousel-wrapper">
            <!-- Start: topic loop -->
            {% assign topics_general = site.data.topics | where: "vertical", "General" %}
            {% for topic in topics_general %}
            <div class="tile-carousel-item tile-carousel-item--topic">
              <div class="tile-carousel-item--topic--heading">{{topic.name}}</div>
              <div class="tile-carousel-item--topic--description">{{topic.description}} {% if topic.url %}<a href="{{topic.url}}">Learn more &raquo;</a>{% endif %}</div>
            </div>
            {% endfor %}
            <!-- End: topic loop -->
          </div>
        </div>


        <div class="tile-minivan tile-minivan--with-carousel">
          <h3 class="tile-minivan--heading">Hashtags</h3>
          <p class="tile--description">One line of text giving text as to what these are.</p>
          <div class="tile--carousel-controls">
            <span class="tile--carousel-prev"></span><span class="tile--carousel-next"></span>
          </div>
          <div class="tile--carousel-wrapper">


            <!-- Start: hashtag loop -->
            {% assign hashtags_general = site.data.hashtags | where: "vertical", "General" %}
            {% for hashtag in hashtags_general %}
            <div class="tile-carousel-item tile-carousel-item--topic">
              <div class="tile-carousel-item--topic--heading">#{{hashtag.name}} <a data-hashtag="#{{hashtag.name}}" class="copy-button copy-hashtag tile--hashtag-copy" href="#">copy</a></div>
              <div class="tile-carousel-item--topic--description">{{hashtag.description}}</div>
            </div>
            {% endfor %}
            <!-- End: hashtag loop -->


          </div>
        </div>


        <div class="tile-minivan">
          <h3 class="tile-minivan--heading">Dates of Interest</h3>
          {% for date in week24 %}
          <div class="tile">
            <div class="tile--icon"><img src="/assets/images/emojis/{{date.icon}}.png" /></div>
            <div class="tile--body">
              <p class="tile--details"><a href="">Details</a></p>
              <h3 class="tile--title">{{date.name}}</h3>
              <p class="tile--date">{{date.date | date: "%A, %B %e" }}</p>
              <div class="tile--expandedContent">
                <p class="tile--description">{{date.description}}</p>

                {% assign hashtags = date.hashtags | split: " " %}
                <div class="tile--hashtags-wrapper">
                {% for hashtag in hashtags %}
                  <div class="tile--hashtag-pill">
                    <p>
                      <span class="tile--hashtag-itself">{{hashtag}} <span class="tile--hashtag-copy" data-hashtag="{{hashtag}}">(<u>copy</u>)</span></span>
                      <span class="tile--hashtag-outbound">View on <a href="https://www.instagram.com/explore/tags/{{hashtag | slice: 1, hashtag.size}}/" target="_blank">Instagram</a></span>
                    </p>
                  </div>
                {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </article>

    <article>
      <div class="secondary date_range">
        <div class="date-ribbon">
          <h4>Week of</h4>
          <h3>Jun 27 - Jul 3</h3>
        </div>
      </div>
      <div class="primary tile-wrapper">

        <div class="tile-minivan">
          <h3 class="tile-minivan--heading">Dates of Interest</h3>
        {% for date in week25 %}
        <div class="tile">
          <div class="tile--icon"><img src="/assets/images/emojis/{{date.icon}}.png" /></div>
          <div class="tile--body">
            <p class="tile--details"><a href="">Details</a></p>
            <h3 class="tile--title">{{date.name}}</h3>
            <p class="tile--date">{{date.date | date: "%A, %B %e" }}</p>
            <div class="tile--expandedContent">
              <p class="tile--description">{{date.description}}</p>

              {% assign hashtags = date.hashtags | split: " " %}
              <div class="tile--hashtags-wrapper">
              {% for hashtag in hashtags %}
                <div class="tile--hashtag-pill">
                  <p>
                    <span class="tile--hashtag-itself">{{hashtag}} <span class="tile--hashtag-copy" data-hashtag="{{hashtag}}">(<u>copy</u>)</span></span>
                    <span class="tile--hashtag-outbound">View on <a href="https://www.instagram.com/explore/tags/{{hashtag | slice: 1, hashtag.size}}/" target="_blank">Instagram</a></span>
                  </p>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </article>

    <article>
      <div class="secondary date_range">
        <div class="date-ribbon">
          <h4>Week of</h4>
          <h3>Jul 4 - 10</h3>
        </div>
      </div>
      <div class="primary tile-wrapper">

        <div class="tile-minivan">
          <h3 class="tile-minivan--heading">Dates of Interest</h3>
        {% for date in week26 %}
        <div class="tile">
          <div class="tile--icon"><img src="/assets/images/emojis/{{date.icon}}.png" /></div>
          <div class="tile--body">
            <p class="tile--details"><a href="">Details</a></p>
            <h3 class="tile--title">{{date.name}}</h3>
            <p class="tile--date">{{date.date | date: "%A, %B %e" }}</p>
            <div class="tile--expandedContent">
              <p class="tile--description">{{date.description}}</p>

              {% assign hashtags = date.hashtags | split: " " %}
              <div class="tile--hashtags-wrapper">
              {% for hashtag in hashtags %}
                <div class="tile--hashtag-pill">
                  <p>
                    <span class="tile--hashtag-itself">{{hashtag}} <span class="tile--hashtag-copy" data-hashtag="{{hashtag}}">(<u>copy</u>)</span></span>
                    <span class="tile--hashtag-outbound">View on <a href="https://www.instagram.com/explore/tags/{{hashtag | slice: 1, hashtag.size}}/" target="_blank">Instagram</a></span>
                  </p>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </article>

    <article>
      <div class="secondary date_range">
        <div class="date-ribbon">
          <h4>Week of</h4>
          <h3>Jun 17-23</h3>
        </div>
      </div>
      <div class="primary tile-wrapper">
        <div class="tile-minivan">
          <h3 class="tile-minivan--heading">Dates of Interest</h3>
        {% for date in week27 %}
        <div class="tile">
          <div class="tile--icon"><img src="/assets/images/emojis/{{date.icon}}.png" /></div>
          <div class="tile--body">
            <p class="tile--details"><a href="">Details</a></p>
            <h3 class="tile--title">{{date.name}}</h3>
            <p class="tile--date">{{date.date | date: "%A, %B %e" }}</p>
            <div class="tile--expandedContent">
              <p class="tile--description">{{date.description}}</p>

              {% assign hashtags = date.hashtags | split: " " %}
              <div class="tile--hashtags-wrapper">
              {% for hashtag in hashtags %}
                <div class="tile--hashtag-pill">
                  <p>
                    <span class="tile--hashtag-itself">{{hashtag}} <span class="tile--hashtag-copy" data-hashtag="{{hashtag}}">(<u>copy</u>)</span></span>
                    <span class="tile--hashtag-outbound">View on <a href="https://www.instagram.com/explore/tags/{{hashtag | slice: 1, hashtag.size}}/" target="_blank">Instagram</a></span>
                  </p>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </article>

  </div>
</div>

<!-- Javascript -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/shootingstar.js"></script>
