---
layout: mvp
permalink: "/"
---
{% assign week19 = site.data.mvpv3 | where: "week","19" %}
{% assign week20 = site.data.mvpv3 | where: "week","20" %}
{% assign week21 = site.data.mvpv3 | where: "week","21" %}
{% assign week22 = site.data.mvpv3 | where: "week","22" %}
{% assign week23 = site.data.mvpv3 | where: "week","23" %}
{% assign week24 = site.data.mvpv3 | where: "week","24" %}
{% assign week25 = site.data.mvpv3 | where: "week","25" %}
{% assign week26 = site.data.mvpv3 | where: "week","26" %}

<h1>Content Depot</h1>
<p class="subhead">A list of upcoming holidays, topics, and prompts to help inspire your social posts.</p>

<ul class="top_tabs">
  <li><a class="top_tabs--active" href="/">Calendar</a></li>
  <li><a class="" href="/posts">Post Gallery</a></li>
  <li><a class="" href="/verticals">Verticals</a></li>
</ul>

<div class="feed-wrapper clearfix">
  <div class="feed-controls">
    <div class="tile tile-calendar" data-current-month="May">
      <span class="calendar-next"></span>
      <span class="calendar-prev"></span>
      <span class="calendar-today" style="background-image: url(/assets/images/cal-today/cal-may19.png);"></span>
      <img class="calendar-image" width="100%" src="/assets/images/cal-may.png" />
    </div>
    <!-- <h4 class="tile-scheduled-posts--heading">My Scheduled Posts:</h4>
    <div class="tile tile-scheduled-posts" style="height: 200px;"></div> -->
  </div>



  <div class="feed-main">

    <article>
      <div class="secondary date_range">
        <div class="date-ribbon">
          <h3>This Week</h3>
          <h4>May 16–22</h4>
        </div>
      </div>
      <div class="primary tile-wrapper">

        <div class="tile-minivan tile-minivan--with-carousel">
          <h3 class="tile-minivan--heading">Trending Topics</h3>
          <p class="tile--description">One line of text giving text as to what these are.</p>
          <div class="tile--carousel-controls">
            <span class="tile--carousel-prev"></span><span class="tile--carousel-next"></span>
          </div>
          <div class="tile--carousel-wrapper">
            <!-- loop -->
            <div class="tile-carousel-item tile-carousel-item--topic">
              <div class="tile-carousel-item--topic--heading">Summertime Sadness</div>
              <div class="tile-carousel-item--topic--description">This is the season to play the Lana Del Rey song on repeat, and wonder what she's singing about in that particular song.</div>
            </div>
            <div class="tile-carousel-item tile-carousel-item--topic">
              <div class="tile-carousel-item--topic--heading">Summertime Sadness</div>
              <div class="tile-carousel-item--topic--description">This is the season to play the Lana Del Rey song on repeat, and wonder what she's singing about in that particular song.</div>
            </div>
            <div class="tile-carousel-item tile-carousel-item--topic">
              <div class="tile-carousel-item--topic--heading">Summertime Sadness</div>
              <div class="tile-carousel-item--topic--description">This is the season to play the Lana Del Rey song on repeat, and wonder what she's singing about in that particular song.</div>
            </div>
            <!-- END loop -->
          </div>
        </div>


        <div class="tile-minivan tile-minivan--with-carousel">
          <h3 class="tile-minivan--heading">Hashtags</h3>
          <p class="tile--description">One line of text giving text as to what these are.</p>
          <div class="tile--carousel-controls">
            <span class="tile--carousel-prev"></span><span class="tile--carousel-next"></span>
          </div>
          <div class="tile--carousel-wrapper">
            <div class="tile-carousel-item tile-carousel-item--topic">
              <div class="tile-carousel-item--topic--heading">#FirstDayOfSummer <a data-hashtag="#FirstDayOfSummer" class="copy-button copy-hashtag tile--hashtag-copy" href="#">copy</a></div>
              <div class="tile-carousel-item--topic--description">June 21 marks the official first day of summer.</div>
            </div>
            <div class="tile-carousel-item tile-carousel-item--topic">
              <div class="tile-carousel-item--topic--heading">#EndAlzheimers <a data-hashtag="#EndAlzheimers" class="copy-button copy-hashtag tile--hashtag-copy" href="#">copy</a></div>
              <div class="tile-carousel-item--topic--description">June is Alzheimer's and Brain Awareness Month. Worldwide, 50 million people are living with Alzheimer's and other dementias. In June, the Alzheimer's Association raises awareness through the color purple and sharing stories.</div>
            </div>
          </div>
        </div>


        <div class="tile-minivan">
          <h3 class="tile-minivan--heading">Dates of Interest</h3>
          {% for date in week20 %}
          <div class="tile">
            <div class="tile--icon"><img src="/assets/images/emojis/{{date.icon}}.png" /></div>
            <div class="tile--body">
              <p class="tile--details"><a href="">Details</a></p>
              <h3 class="tile--title">{{date.name}}</h3>
              <p class="tile--date">{{date.date | date: "%A, %B %e" }}</p>
              <div class="tile--expandedContent">
                <p class="tile--description">{{date.description}}</p>

                {% assign hashtags = date.hashtags | split: " " %}
                <div class="tile--hashtags-wrapper">
                {% for hashtag in hashtags %}
                  <div class="tile--hashtag-pill">
                    <p>
                      <span class="tile--hashtag-itself">{{hashtag}} <span class="tile--hashtag-copy" data-hashtag="{{hashtag}}">(<u>copy</u>)</span></span>
                      <span class="tile--hashtag-outbound">View on <a href="https://www.instagram.com/explore/tags/{{hashtag | slice: 1, hashtag.size}}/" target="_blank">Instagram</a></span>
                    </p>
                  </div>
                {% endfor %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </article>

    <article>
      <div class="secondary date_range">
        <div class="date-ribbon">
          <h3>Next Week</h3>
          <h4>May 23–29</h4>
        </div>
      </div>
      <div class="primary tile-wrapper">

        <div class="tile-minivan">
          <h3 class="tile-minivan--heading">Dates of Interest</h3>
        {% for date in week21 %}
        <div class="tile">
          <div class="tile--icon"><img src="/assets/images/emojis/{{date.icon}}.png" /></div>
          <div class="tile--body">
            <p class="tile--details"><a href="">Details</a></p>
            <h3 class="tile--title">{{date.name}}</h3>
            <p class="tile--date">{{date.date | date: "%A, %B %e" }}</p>
            <div class="tile--expandedContent">
              <p class="tile--description">{{date.description}}</p>

              {% assign hashtags = date.hashtags | split: " " %}
              <div class="tile--hashtags-wrapper">
              {% for hashtag in hashtags %}
                <div class="tile--hashtag-pill">
                  <p>
                    <span class="tile--hashtag-itself">{{hashtag}} <span class="tile--hashtag-copy" data-hashtag="{{hashtag}}">(<u>copy</u>)</span></span>
                    <span class="tile--hashtag-outbound">View on <a href="https://www.instagram.com/explore/tags/{{hashtag | slice: 1, hashtag.size}}/" target="_blank">Instagram</a></span>
                  </p>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </article>

    <article>
      <div class="secondary date_range">
        <div class="date-ribbon">
          <h4>Week of</h4>
          <h3>May 30</h3>
        </div>
      </div>
      <div class="primary tile-wrapper">

        <div class="tile-minivan">
          <h3 class="tile-minivan--heading">Dates of Interest</h3>
        {% for date in week22 %}
        <div class="tile">
          <div class="tile--icon"><img src="/assets/images/emojis/{{date.icon}}.png" /></div>
          <div class="tile--body">
            <p class="tile--details"><a href="">Details</a></p>
            <h3 class="tile--title">{{date.name}}</h3>
            <p class="tile--date">{{date.date | date: "%A, %B %e" }}</p>
            <div class="tile--expandedContent">
              <p class="tile--description">{{date.description}}</p>

              {% assign hashtags = date.hashtags | split: " " %}
              <div class="tile--hashtags-wrapper">
              {% for hashtag in hashtags %}
                <div class="tile--hashtag-pill">
                  <p>
                    <span class="tile--hashtag-itself">{{hashtag}} <span class="tile--hashtag-copy" data-hashtag="{{hashtag}}">(<u>copy</u>)</span></span>
                    <span class="tile--hashtag-outbound">View on <a href="https://www.instagram.com/explore/tags/{{hashtag | slice: 1, hashtag.size}}/" target="_blank">Instagram</a></span>
                  </p>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </article>

    <article>
      <div class="secondary date_range">
        <div class="date-ribbon">
          <h4>Week of</h4>
          <h3>June 6</h3>
        </div>
      </div>
      <div class="primary tile-wrapper">
        <div class="tile-minivan">
          <h3 class="tile-minivan--heading">Dates of Interest</h3>
        {% for date in week23 %}
        <div class="tile">
          <div class="tile--icon"><img src="/assets/images/emojis/{{date.icon}}.png" /></div>
          <div class="tile--body">
            <p class="tile--details"><a href="">Details</a></p>
            <h3 class="tile--title">{{date.name}}</h3>
            <p class="tile--date">{{date.date | date: "%A, %B %e" }}</p>
            <div class="tile--expandedContent">
              <p class="tile--description">{{date.description}}</p>

              {% assign hashtags = date.hashtags | split: " " %}
              <div class="tile--hashtags-wrapper">
              {% for hashtag in hashtags %}
                <div class="tile--hashtag-pill">
                  <p>
                    <span class="tile--hashtag-itself">{{hashtag}} <span class="tile--hashtag-copy" data-hashtag="{{hashtag}}">(<u>copy</u>)</span></span>
                    <span class="tile--hashtag-outbound">View on <a href="https://www.instagram.com/explore/tags/{{hashtag | slice: 1, hashtag.size}}/" target="_blank">Instagram</a></span>
                  </p>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </article>

  </div>
</div>

<!-- Javascript -->
<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/shootingstar.js"></script>
