---
---

/* -- Reset -- */

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }


html {
  scroll-behavior: smooth;
}

/*-- Type --*/

    body {
      font-family: 'Barlow', sans-serif;
      font-size: 16px;
      line-height: 1.4;
      color: white;
    }

    .underline {
      text-decoration: underline;
    }


/* -- Layout -- */

    body {
      /* Gradient Background */
      background: rgb(20,95,169);
      background: linear-gradient(180deg, rgba(131,62,163,1) 0%, rgba(20,95,169,1) 100%);
      background-attachment: fixed;
      margin: 0;
      padding: 0;
    }

    .page-content::before {
      content: "";
      background-image: url(/assets/images/bricks.png);
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.05;
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
    }

    .container {
      width: 868px;
      margin: 0 auto;
      position: relative;
    }

    .sidebar {
      width: 200px;
      float: left;
    }

    .mainbar {
      float: right;
      width: 668px;
    }

    .page-logo {
      position: relative;
      left: -8px;
      padding-top: 16px;
    }

/* -- Sidebar -- */

    .nav {
      list-style: none;
      margin: 0;
      padding: 155px 0 0 0;
      // position: fixed;
    }
    .nav.fixed {
      position: fixed;
      padding-top: 35px;
    }
    .nav .nav_title {
      color: white;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.5px;
      margin-bottom: 8px;
    }
    .nav a {
      text-decoration: none;
      color: white;
      opacity: 0.5;
      font-size: 18px;
      padding: 6px 0;
      display: block;
    }
    .nav a:hover {
      opacity: 1;
      transition: opacity .15s ease-in-out;
    }


/*-- Components --*/

    .tileWrapper {
      padding-top: 32px;
      padding-bottom: 40px;
    }
    #hashtags {
      padding-top: 16px;
    }
    .tile {
      background: #303030;
      border-radius: 6px;
      box-shadow: 0 4px 12px 0 rgba(0,0,0,0.24);
    }
    .tile-heading {
      padding: 16px 18px;
      border-bottom: 1px solid #242424;
    }
    .tile-heading .tile-title {
      margin: 0;
      font-size: 32px;
      line-height: 1;
      display: inline-block;
      font-family: 'Barlow Condensed', sans-serif;
      text-transform: uppercase;
      color: #FFC83A;
      text-shadow: 0px 1px 1px rgba(0,0,0,1);
    }
    .tile-heading .tile-lastUpdated {
      display: inline-block;
      margin: 0 0 0 8px;
      font-size: 14px;
      line-height: 1;
      color: #6C6C6C;
    }
    .tile-body {
      padding: 16px 18px;
      border-top: 1px solid #404040;
    }
    .tile-body .tile-item {
      background: #222;
      border-radius: 4px;
      border-bottom: 1px solid #404040;
      box-shadow: inset 0 1px 2px rgba(0,0,0,0.12);
      margin-bottom: 16px;
      padding: 16px 18px;
      position: relative;
      &:last-child {
        margin-bottom: 0;
      }

      /* trying this out */
      opacity: 0;
      animation: fadeIn 100ms ease-in both;
    }

    .tile-body .tile-item:nth-child(2) { animation-delay: 150ms; }
    .tile-body .tile-item:nth-child(3) { animation-delay: 300ms; }
    .tile-body .tile-item:nth-child(4) { animation-delay: 450ms; }
    .tile-body .tile-item:nth-child(5) { animation-delay: 600ms; }
    .tile-body .tile-item:nth-child(6) { animation-delay: 750ms; }
    .tile-body .tile-item:nth-child(7) { animation-delay: 900ms; }
    .tile-body .tile-item:nth-child(8) { animation-delay: 1050ms; }
    .tile-body .tile-item:nth-child(9) { animation-delay: 1200ms; }
    .tile-body .tile-item:nth-child(10) { animation-delay: 1350ms; }
    .tile-body .tile-item:nth-child(11) { animation-delay: 1500ms; }

    @keyframes fadeIn {
    	from {
    		opacity: 0;
    		// transform: translate3d(0, -5%, 0);
    	}
    	to {
    		opacity: 1;
    		// transform: translate3d(0, 0, 0);
    	}
    }


/* -- Copy button -- */

  .copy-button {
    font-size: 11px;
    padding: 4px 6px;
    background: #282828;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 2px;
    position: relative;
    left: 6px;
    top: -2px;
    color: #666;
  }
  .copy-button:hover {
    color: #fafafa;
    background: #444;
  }
  .copy-button.copy-copied {
    background: #12838B;
    color: #fff;
    transition: background-color 100ms ease-in-out;
  }



/* -- Tile Component -- */

    .tile-body .tile-item.tile-item--hashtag {
      background: #222 url('/assets/images/icon-hashtag.svg') no-repeat 16px 20px;
      padding-left: 60px;
      padding-right: 172px;
      .tile-socialLinks {
        position: absolute;
        right: 21px;
        top: 50%;
        transform: translateY(-50%);
        a {
          display: inline-block;
          padding: 16px;
          margin-left: 2px;
          svg {
            opacity: .25;
          }
        }
        a:hover {
          svg {
            opacity: .8;
            transition: opacity .15s ease-in-out;
          }
        }
      }
    }
    .tile-body .tile-item.tile-item--topic {
      padding-left: 60px;
      padding-right: 160px;
      .tile-emoji {
        position: absolute;
        left: 14px;
        top: 14px;
        font-size: 32px;
      }
      .tile-date {
        position: absolute;
        right: 21px;
        top: 36px;
        width: 132px;
        strong {
          text-align: center;
          display: block;
          font-size: 16px;
          font-weight: bold;
          color: #888;
          margin: 0 0 4px 0;
        }
        small {
          text-align: center;
          display: block;
          font-weight: normal;
          font-size: 14px;
          color: #888;
          font-weight: 300;
        }
      }
    }

    .tile-body .tile-item.tile-item--post {
      // background: #222 url('/assets/images/icon-caption.svg') no-repeat 16px 20px;
      // padding-left: 60px;
      overflow: hidden;
      width: auto;
      img {
        box-shadow: 0 2px 7px rgba(0,0,0,0.15);
      }
    }
    .tile-item--post-image {
      float: left;
      margin-right: 18px;
      width: 130px;
      img {
        width: 100%;
      }
    }
    .tile-item--post-text {
      float: right;
      width: 444px;
    }
    .tile-body .tile-item--post .tile-postCaption {
      font-size: 19px;
      color: #eee;
      margin-bottom: 8px;
      font-weight: 500;
    }
    .tile-body .tile-item--post .tile-postMeta {
      font-size: 14px;
      font-weight: 400;
      color: #666;
    }


    .tile-body .tile-item h3 {
      color: #ddd;
      font-size: 18px;
      margin: 0 0 2px 0;
      font-weight: 500;
    }
    .tile-body .tile-item p {
      color: #888;
      font-weight: 300;
      margin: 0 0 0 0;
    }













.light {
  color: #aaa;
}

.small {
  font-size: 80%;
}

.highlighted {
  background-color: #FFF599;
  padding: 4px 5px 2px;
  border-radius: 2px;
}


/* -- Lists -- */

.list-plain {
  list-style: none;
  padding-left: 0;
}

/* -- Table -- */

th,td,tr,table {
  background: none;
  padding: 0;
  border: none;
}

table {
  margin-left: 40px;
}

th {
  text-align: left;
}

td {
  padding: 8px 48px 8px 0;
}

/* -- Post Gallery -- */

.post-gallery {
  list-style: none;
  padding: 0;
  overflow: auto;
  width: 100%;
}

.post-gallery li {
    float: left;
    width: 298px;
    margin-right: 21px;
    margin-bottom: 64px;
}

.post-gallery li img {
  width: 100%;
}

.post-gallery .caption {
  font-size: 14px;
  line-height: 125%;
}

.post-gallery .gallery_customer {
  font-size: 12px;
  color: #aaa;
  margin: 0 0 4px 0;
}

.post-gallery .post_type {
  font-size: 12px;
  color: #aaa;
  margin: 0 0 4px 0;
}

/* V2 Post Gallery */

.post-gallery-linear {
  list-style: none;
  padding: 0;
  max-width: 800px;
}

.post-gallery-linear li {
  padding: 0;
  overflow: hidden;
  width: auto;
  margin-bottom: 48px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-gallery-linear img {
  width: 200px;
  float: left;
  margin-right: 24px;
}

.post-gallery-linear li > div {
  padding-left: 224px;
}

.post-gallery-linear .gallery_customer {
  color: #999;
  margin: 0;
}

.post-gallery-linear .post_type {
  color: #999;
  margin: 0;
}

.post-gallery-linear .caption {
  font-size: 24px;
  font-weight: 700;
  margin: 8px 0;
  line-height: 1.4;
}


/* V2 Topic Design */



.topic_emoji {
  font-size: 48px;
  position: absolute;
  left: -2px;
}

.topic_list li {
  padding-left: 68px;
  position: relative;
  margin-bottom: 32px;
  max-width: 640px;
}

.topic_date {
  margin-bottom: 5px;
}
.topic_date,
.topic_hashtags {
  color: #999;
}

.topic_name {
  font-weight: 900;
  font-size: 21px;
}

.topic_desc {
  margin-top: 5px;
  margin-bottom: 5px;
}
