---
---

// @import "minima";

/* -- Layout -- */

.wrapper {
  max-width: 960px;
  margin: 0 auto 96px;
}

/*-- Type --*/

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

.underline {
  text-decoration: underline;
}

.light {
  color: #aaa;
}

.small {
  font-size: 80%;
}

.highlighted {
  background-color: #FFF599;
  padding: 4px 5px 2px;
  border-radius: 2px;
}

h2 {
  font-weight: 900;
  font-size: 64px;
  margin-bottom: 24px;
  margin-top: 96px;
}

h3 {
  margin-bottom: 24px;
}

/* -- Lists -- */

.list-plain {
  list-style: none;
  padding-left: 0;
}

/* -- Table -- */

th,td,tr,table {
  background: none;
  padding: 0;
  border: none;
}

table {
  margin-left: 40px;
}

th {
  text-align: left;
}

td {
  padding: 8px 48px 8px 0;
}

/* -- Post Gallery -- */

.post-gallery {
  list-style: none;
  padding: 0;
  overflow: auto;
  width: 100%;
}

.post-gallery li {
    float: left;
    width: 298px;
    margin-right: 21px;
    margin-bottom: 64px;
    min-height: 420px;
}

.post-gallery li img {
  width: 100%;
}

.post-gallery .caption {
  font-size: 14px;
  line-height: 125%;
}

/* V2 Post Gallery */

.post-gallery-linear {
  list-style: none;
  padding: 0;
  max-width: 800px;
}

.post-gallery-linear li {
  padding: 0;
  overflow: hidden;
  width: auto;
  margin-bottom: 48px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.post-gallery-linear img {
  width: 200px;
  float: left;
  margin-right: 24px;
}

.post-gallery-linear li > div {
  padding-left: 224px;
}

.post-gallery-linear .gallery_customer {
  color: #999;
  margin: 0;
}

.post-gallery-linear .post_type {
  color: #999;
  margin: 0;
}

.post-gallery-linear .caption {
  font-size: 24px;
  font-weight: 700;
  margin: 8px 0;
  line-height: 1.4;
}


/* V2 Topic Design */



.topic_emoji {
  font-size: 48px;
  position: absolute;
  left: -2px;
}

.topic_list li {
  padding-left: 68px;
  position: relative;
  margin-bottom: 32px;
  max-width: 640px;
}

.topic_date {
  margin-bottom: 5px;
}
.topic_date,
.topic_hashtags {
  color: #999;
}

.topic_name {
  font-weight: 900;
  font-size: 21px;
}

.topic_desc {
  margin-top: 5px;
  margin-bottom: 5px;
}
