---
---

// @import "minima";

/* -- Layout -- */

.wrapper {
  max-width: 960px;
  margin: 0 auto 96px;
}

/*-- Type --*/

body {
  font-family: 'Courier Prime', monospace;
  font-size: 18px;
  line-height: 140%;
}

a, a:visited {
  color: inherit;
}

.underline {
  text-decoration: underline;
}

.light {
  color: #aaa;
}

.small {
  font-size: 80%;
}

.highlighted {
  background-color: #FFF599;
  padding: 4px 5px 2px;
  border-radius: 2px;
}

h2 {
  font-weight: bold;
  border-bottom: 4px solid black;
  padding-bottom: 12px;
  margin-bottom: 24px;
  margin-top: 96px;
}

h3 {
  margin-bottom: 24px;
}

/* -- Lists -- */

.list-plain {
  list-style: none;
  padding-left: 0;
}

/* -- Table -- */

th,td,tr,table {
  background: none;
  padding: 0;
  border: none;
}

table {
  margin-left: 40px;
}

th {
  text-align: left;
}

td {
  padding: 8px 48px 8px 0;
}

/* -- Post Gallery -- */

.post-gallery {
  list-style: none;
  padding: 0;
  overflow: auto;
  width: 100%;
}

.post-gallery li {
    float: left;
    width: 298px;
    margin-right: 21px;
    margin-bottom: 48px;
        min-height: 500px;
}

.post-gallery li img {
  width: 100%;
}

.post-gallery .caption {
  font-size: 14px;
  line-height: 125%;
}
