---
layout: default
---

<div class="container">

  <div class="sidebar">
    <ul class="nav">
      <li class="nav_title">Home</li>
      <li><a href="/#hashtags">Hashtags</a></li>
      <li><a href="/#topics">Upcoming Topics</a></li>
      <li><a href="/#holidays">Holidays</a></li>
      <li><a href="/#posts">Post Gallery</a></li>
      <li class="nav_title">Verticals</li>
      <li><a href="/verticals/professional-services">Professional Services</a></li>
    </ul>
  </div>
  <div class="mainbar">
    {{ content }}
  </div>


</div>
